* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  gap: 50px;
}


.card {
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
  text-align: center;
  color: white;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}


.card-header {
  height: 140px;
  background: linear-gradient(45deg, #000000, #434343);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
}

.card-body {
  padding: 25px;
}

.card-body h2 {
  margin-bottom: 10px;
  color: #fff;
}

.card-body h4 {
  font-weight: normal;
  margin-bottom: 15px;
  color: #e0e0e0;
}

.card-body p {
  margin: 6px 0;
  font-size: 14px;
}


button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #ff512f, #dd2476);
}
